body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    
}

ul{
    display:  flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 16px;
}

a{
    color: white;
    text-decoration: none;
}

header img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    column-span: all;
    }

   .center{
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        align-items: center;

   }
      
    h1{
    color: white;
    font-size: large;
}

h2{
    font-size: small;
    
}

footer img{
    width: 30px;
    height: 30px;
}

footer{
    display: flex;
    justify-content: center;
}

footer a{
    margin: 20px;
    text-align: center;
}

footer p{
    margin-top: 2px;
}

.container{
    padding: 0px 50px;
}

nav a:hover{
    color: rgb(0, 222, 0);
}

.article{
    column-count: 3;
    column-gap: 25rem ;
    column-rule: 5px dashed;

}

.articleTitulo{
    column-count: 3;
    column-gap: 25rem ;
    column-rule: 5px dashed;
    
}
