

ul{
    display:  flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 16px;
}

a{
    color: #000000;
    text-decoration: none;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
   
    }

   .center{
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        align-items: center;

   }
      
    h1{
    color: rgb(0, 0, 0);
    font-size: large;
}

h2{
    font-size: large;
    
}

footer img{
    width: 30px;
    height: 30px;
}

footer{
    display: flex;
    justify-content: center;
}

footer a{
    margin: 20px;
    text-align: center;
}

footer p{
    margin-top: 2px;
}


nav a:hover{
    color: rgb(0, 222, 0);
}


button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;                /*BOTAO AZUL GALERIA*/
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;              /*BODY */
    color: #333;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);            /*CONTAINER TIPO PORTIFOLIO*/
    max-width: 600px;
    margin: auto;
}