/*GALERIA*/



.gallery img {
    width: 100px;
    height: 100px;
    margin: 5px;
     
 }


 .secao4 {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif         /*CORREÇÃO DE ESTILO DE TEXTO*/
}
 
 .secao4-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;                    /* DEIXAR EM 'COLUNAS' OS CARDS*/
    padding: 10px;
    text-align: center;
}
 
 .secao4-div-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3 - 60px);                                   /*BORDA E TUDO MAIS*/
    margin: 10px;
    padding: 20px;
    box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: all 0.2s ease;
}


 
 .secao4-div-card:hover {
    transform: scale(1.1);                  /* EFEFFITO HOVER DE */
    z-index: 1;
}
 
.secao4-div-card img {
    width: 35%;
    height: auto;                           /*CORREÇÃO DE TAMANHO DA IMAGEM*/
}
 
.secao4-div-card h3 {
    margin-bottom: 0px;
}

img {
    width: 200px;
    height: 200px;
   border: 4px solid #ffffff;
  }


    button {
        background-color: #007BFF;
        color: white;
        border: none;
        padding: 10px 15px;                /*BOTAO AZUL GALERIA*/
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
    }



    footer img{
        width: 30px;
        height: 30px;
    }
    
    footer{
        display: flex;
        justify-content: center;
    }
    
    footer a{
        margin: 20px;
        text-align: center;
    }
    
    footer p{
        margin-top: 2px;
    }



    :root{
        --base-color: white;
        --base-variant: #e8e9ed;
        --text-color: #111528;
        --secondary-text: #232738;
        --primary-color: #3a435d;
        --accent-color: #0071ff;
      }
      .darkmode{
        --base-color: #070b1d;
        --base-variant: #101425;
        --text-color: #ffffff;
        --secondary-text: #a4a5b8;
        --primary-color: #3a435d;
        --accent-color: #0071ff;
      }
      *{
        margin: 0;
        padding: 0;
      }
      html{
        font-family: Poppins;
      }
      body{
        min-height: 100vh;
        background-color: var(--base-color);
        color: var(--text-color);
      }
      header, section{
        padding: 70px min(50px, 7%);
      }
      
      p{
        margin: 10px 0 20px 0;
        color: var(--secondary-text);
      }
      .div:button{
        border: none;
        padding: .8em 2em;
        background-color: var(--primary-color);
        color: white;
        border-radius: 4px;
        font: inherit;
        text-transform: uppercase;
        font-weight: 500;
        cursor: pointer;
      }
      .cta-button{
        background-color: var(--accent-color);
      }
      #theme-switch{
        height: 50px;
        width: 50px;
        padding: 0;
        border-radius: 50%;
        background-color: var(--base-variant);
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 20px;
        right: 20px;
      }
      #theme-switch svg{
        fill: var(--primary-color);
      }
      #theme-switch svg:last-child{
        display: none;
      }
      .darkmode #theme-switch svg:first-child{
        display: none;
      }
      .darkmode #theme-switch svg:last-child{
        display: block;
      }


      #dataHora {
        font-size: 15px;
        color: var(--text-color);
        display: flex;
        justify-content: center;
      }