

ul{
    display:  flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 16px;
}

a{
    color: var(--text-color);
    text-decoration: none;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
   
    }

   .center{
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        align-items: center;

   }
      
    h1{
    color: var(--text-color);
    font-size: large;
}

h2{
    font-size: large;
    
}

footer img{
    width: 30px;
    height: 30px;
}

footer{
    display: flex;
    justify-content: center;
}

footer a{
    margin: 20px;
    text-align: center;
}

footer p{
    margin-top: 2px;
}


nav a:hover{
    color: rgb(0, 222, 0);
}


button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;                /*BOTAO AZUL GALERIA*/
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;              /*BODY */
    color: #333;
    padding: 20px;
}

.container {
    background-color: var(--base-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);            /*CONTAINER TIPO PORTIFOLIO*/
    max-width: 600px;
    margin: auto;
}





  .darkmode{
    --base-color: #070b1d;
    --base-variant: #101425;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
  }
  *{
    margin: 0;
    padding: 0;
  }
  html{
    font-family: Poppins;
  }
  body{
    min-height: 100vh;
    background-color: var(--base-color);
    color: var(--text-color);
  }
  header, section{
    padding: 30px min(30px, 7%);
  }
  section{
    background-color: var(--base-variant);
  }

  .div:button{
    border: none;
    padding: .8em 2em;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    font: inherit;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
  }
  .cta-button{
    background-color: var(--accent-color);
  }
  #theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
  }
  #theme-switch svg{
    fill: var(--primary-color);
  }
  #theme-switch svg:last-child{
    display: none;
  }
  .darkmode #theme-switch svg:first-child{
    display: none;
  }
  .darkmode #theme-switch svg:last-child{
    display: block;
  }